/.DS_Store
/Azure-inventory-report.zip
/Backup 2
/CEH 12
/Document
/Document1.pdf
/Hello
/HelpdeskTask.drawio
/HelpdeskTask.drawio 2.drawio
/Prudvi-sai-gariga_Document.zip
/Raja Ravi Varma Siyadula Senior SOC Analyst.pdf
/Re- Updated Slides for Fisker Business Case.eml
/Re_ Security Incident on Azure VM - Open Port 636 to Public on VM Name_ fsrazvskt01.eml
/Reports
/Resume.pdf
/Screenshot 2023-03-18 at 11.48.40 AM.png
/code
/documents
/final.json
/import pandas as pd.py
/network-security-groups-rule-inbound-RDP (6).csv
/network-security-groups-rule-inbound-SSH (1).csv
/new.pem
/new.py
/new.sh
/policy.csv
/prudvi aadhar.pdf
/roles.csv
/sec-dev-syslog (1) 2.pem
/sec-dev-syslog (1).pem.zip
/test.pem
/test.py
/test.sh
/testing
/untitled folder
/untitled folder 2
/upload.ps
/user.csv